/*
    <div className="shop-bar">
        // choose
        <div className="choose-content">
            <div className="content-top">
                <div onClick={} className="clear-car">清空购物车</div>
            </div>

            // map choose-item
            <div key={index} className="choose-item">
                <div className="item-name">{item.name}</div>
                <div className="price">¥{item.min_price * item.chooseCount}</div>
                <div className="select-content">
                    <div onClick={()=>this.minusSelectItem(item)} className="minus"></div>
                    <div className="count">{item.chooseCount}</div>
                    <div onClick={()=>this.addSelectItem(item)} className="plus"></div>
                </div>
            </div>
        </div> 
        // bottom
        <div className="bottom-content">
            <div className="shop-icon" onClick={}>
                <div className="dot-num">2</div>
            </div>
            <div className="price-content">
                <p className="total-price">¥8</p>
                <p className="other-price">另需配送&nbsp;¥2</p>
            </div>
            <div className="submit-btn">去结算</div>
        </div>
    </div>
*/
.shop-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    /* bottom */
    .bottom-content {
        height: px2rem(50px);
        display: flex;
        background-color: rgba(51,51,51,0.9);
    }
    .shop-icon {
        width: px2rem(55px);
        height: px2rem(56px);   
        background-image: url('./img/shop-icon.png');
        background-size: cover;
        margin-top: px2rem(-15px);
        margin-left: px2rem(12px);
        position: relative;
    }
    .dot-num {
        position: absolute;
        background-color: #fb4e44;
        width: px2rem(15px);
        height: px2rem(15px);
        font-size: px2rem(12px);
        color: #fff;
        border: 1px solid #fff;
        top: px2rem(2px);
        right: 0;
        border-radius: 50%;
        text-align: center;
        line-height: px2rem(16px);
    }
    // .price-content > .total-price  .other-price
    .price-content {
        flex: 1; // flex:1 自适应
        padding-top: px2rem(8px);
        padding-left: px2rem(7px);
    }
    .total-price {
        font-size: px2rem(20px);
        color: #fff;
    }
    .other-price {
        font-size: px2rem(12px);
        color: #999;
        margin-top: px2rem(2px);
    }
    // submit
    .submit-btn {
        width: px2rem(110px);
        height: 100%;
        background-color: #ffd161;
        color: #333;
        font-size: px2rem(16px);
        line-height: px2rem(50px);
        text-align: center;
    }

    /* choose */
    .choose-content {
        background-color: #fff;
    }
    // .choose-content >  .content-top .choose-item
    .content-top {
        height: px2rem(35px);
        background-color: #f4f4f4;
        font-size: px2rem(11px);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .clear-car {
            margin-left: px2rem(10px);
            margin-right: px2rem(5px);
            &:before {
                content: '';
                width: px2rem(13px);
                height: px2rem(13px);
                display: block;
                background-image: url('./img/clear.jpeg');
                background-size: cover;
                float: left;
                margin: px2rem(-1px);
                margin-right: px2rem(2px);
            }
        }
    }
    // .choose-item > .price  .item-name .select-content
    .choose-item {
        display: flex;
        font-size: px2rem(15px);
        color: #2f2f2f;
        height: px2rem(35px);
        align-items: center;
        padding-top: px2rem(10px);
        padding-bottom: px2rem(10px);
        border-bottom: 1px solid #ddd;
        .price {
            margin-left: px2rem(5px);
            margin-right: px2rem(25px);
        }
        .item-name {
            flex: 1; // flex: 1; 自适应
            padding-left: px2rem(10px);
        }
    }
    
    // .select-content > ....
    .select-content {
        position: relative;
        display: flex;
        margin-right: px2rem(8px);
    }
    .plus {
        width: px2rem(25px);
        height: px2rem(25px);
        background-size: 100% 100%;
        background-image: url('./img/plus.png');
    }
    .minus {
        width: px2rem(25px);
        height: px2rem(26px);
        background-size: 100% 100%;
        background-image: url('./img/minus.png');
    }
    .count {
        font-size: px2rem(15px);
        color: #2f2f2f;
        width: px2rem(20px);
        height: px2rem(25px);
        line-height: px2rem(25px);
        margin-left: px2rem(2px);
        margin-right: px2rem(2px);
        text-align: center;
    }
}